
$c_text: #e3e3c3;
$c_text_bright: #ffffff;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #262628;
    color: #eeeff2;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:focus-visible {
    outline: none;
}

.no-wheels {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
        margin-bottom: 1.2rem;
    }

    > div {
        margin-top: .6rem;
    }

    label {
        margin-right: .4rem;
        font-size: 1rem;
    }

    button {
        color: #fff;
        background-color: #3d645d;
        border-radius: 4px;
        font-size: 1rem;
        border: none;
        transition: color .14s, background-color .14s;
        padding: 4px 8px;
        cursor: pointer;
        margin-left: .4rem;

        &.disabled {
            background-color: transparent;
            color: #a3a39a;
            cursor: not-allowed;

            &:hover {
                background-color: #683342;
                color: #a3a39a;
            }
        }

        &:hover {
            background-color: #68bd95;
            color: #fff;
        }
    }

    input[type='text'] {
        color: #e3e3c3;
        background-color: #333;
        border-radius: 4px;
        font-size: 1rem;
        border: none;
        transition: color .14s, background-color .14s;
        padding: 4px 8px;

        &:hover,
        &:focus,
        &:focus-within {
            background-color: #3a3a3a;
            color: #ffffff;
        }
    }

    .error {
        color: #ff5057;
    }

    .success {
        color: #87b6f3;
    }
}

.clickable-faded {
    color: #6a6a66;
    cursor: pointer;
    transition: .14s color;
    border: none;
    background: none;
    font: inherit;
    width: auto;
    outline: none;

    &:hover {
        color: #fff;
    }

    &:focus {
        outline: none;
    }
}

.sign-in-panel {
    min-height: 69vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sign-in {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        border: none;
        color: #e3e3e3;
        cursor: pointer;
        padding: 7px;
        border-radius: 8px;
        background-color: #36373c;
        transition: background-color .1s, border-color .1s, color .1s;
        margin-top: .5rem;
        margin-bottom: .7rem;
        width: 300px;

        &.google {
            background-color: #f6f6f6;
            color: #335;

            &:hover {
                background-color: #fff;
            }
        }

        &.facebook {
            background-color: #3c5b9a;
            color: #eee;

            &:hover {
                background-color: #5276cb;
                border-color: #5276cb;
                color: #fff;
            }
        }

        img {
            margin-right: 12px;
        }
    }
}

@keyframes slide-in-left {
    0% {
        opacity: 0;
        transform: translateX(-111%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

header {
    display: flex;

    > * {
        width: 33.3334%;
    }

    .access-requests {
        color: #e3e3c3;
        margin: 1rem 2rem;

        .request {
            animation: slide-in-left .5s;
        }

        .username {
            color: #fff;
        }
    }

    .export-import {
        display: flex;
        justify-content: flex-end;
        margin: 1rem 0;
        align-items: baseline;
        color: #44484d;

        .clickable-faded {
            margin-right: 2rem;
        }
    }

    .wheel-name {
        margin: 1rem 2rem;
        position: relative;

        select {
            background: none;
            border: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            cursor: pointer;
            opacity: 0;
        }
    }
}

h2 {
    font-weight: 400;
    font-size: 1.6rem;
    color: #a3a39a;
    margin-bottom: .8rem;
}

a {
    color: #67f2b1;
    transition: color .14s;
}

a:hover {
    color: #c0ffe2;
}

header h1 {
    margin-top: 2rem;
    text-align: center;
    color: #a3a39a;
    font-weight: 400;
    font-size: 2.2rem;
}

#home {
    display: flex;
    justify-content: center;

    > div {
        width: 30%;
    }

    > .center {
        width: 40%;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .result {
        margin-top: 2rem;
        font-size: 1.5rem;
        height: 1.5rem;
    }
}

.ReactModal__Overlay {
    background-color: rgba(#000, .3) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1010010;
}

.edit-users-modal {
    h2 {
        padding: 1rem 1rem;
        margin: 0 1rem;
    }

    .users-list {
        padding: 1rem 1rem;
        margin: 0 1rem;

        div {
            margin-bottom: .8rem;
        }

        input {
            border: none;
            background: none;
            font-size: 1.3rem;
            font-family: inherit;
            color: inherit;

            &:hover {
                background-color: #333333;
            }
        }
    }
}

.modal-screen {
    background-color: #262628;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(#000, .33);
    color: $c_text;
    width: 50rem;
    min-height: 30rem;
    display: flex;
    flex-direction: column;
}

.show-inspector {
    justify-content: space-between;

    .begin-wating {
        border: none;
        background-color: #3d645d;
        color: #fff;
        font-family: inherit;
        border-radius: 4px;
        font-size: 1.3rem;
        padding: .3rem .6rem;
        cursor: pointer;
        transition: .12s all;

        &:hover {
            background-color: #68bd95;
            color: #fff;
        }
    }

    &:focus {
        outline: none;
    }

    .banner {
        max-width: 50rem;
    }

    .middle {
        position: relative;
        height: auto;
        flex-grow: 1;
    }

    .hover-input {
        font-size: 1rem;
        border: none;
        background-color: transparent;
        color: #ffffff;
        opacity: 0;
        transition: opacity .14s;
        font-family: inherit;
    }

    .hover-input:focus,
    .hover-input.visible {
        opacity: 1;
    }

    .banner-url {
        text-align: center;
        position: absolute;
        left: 0;
        width: 100%;
        top: calc(50% - 5.5rem);
        padding: 5rem 0;
    }

    .watching-url {
        padding: 0 .4rem;

        &:hover {
            opacity: 1;
        }
    }

    .bottom,
    .title {
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;
        margin: 0 1rem;
    }

    .links {
        padding: 1rem 1rem;
        margin: 0 1rem;
        font-size: 1rem;
        border-bottom: 2px solid #333333;
    }

    .user,
    .date-string {
        position: relative;
        color: $c_text_bright;
        transition: .14s color;
        cursor: pointer;

        &:hover {
            color: #c0ffe2;
        }

        &:focus-within {
            background-color: #444;
        }

        input,
        select {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            cursor: pointer;
            opacity: 0;
        }
    }

    .show-name {
        border: none;
        background: none;
        color: inherit;
        font: inherit;
        outline: none;
        transition: background-color .14s, color .14s, border-color .14s;
        border-radius: 4px;

        &:hover {
            background-color: #333;
            color: #e3e3c3;
        }

        &:focus {
            background-color: #3a3a3a;
            color: #fff;
        }
    }

    .state {
        border: none;
        background-color: #3a3a3a;
        font-family: inherit;
        color: $c_text;
        font-size: 1.1rem;
        padding: .1rem .3rem;
        margin-left: 2rem;
        border-radius: 4px;
        cursor: pointer;
    }
}

#home .history {
    text-align: right;
    position: relative;

    > * {
        padding-right: 1rem;
    }

    .list {
        max-height: 75vh;
        overflow-y: scroll;
        scrollbar-color: #302f2f transparent;
        scrollbar-width: thin;

        .show:last-child {
            padding-bottom: 1rem;
        }

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
            height: 1rem;
            background: linear-gradient(to bottom, transparent, #262628);
        }
    }

    .show {
        color: $c_text;
        font-size: 1.3rem;
        padding: .2rem 0;
        transition: .14s color;
        cursor: pointer;

        display: flex;
        justify-content: flex-end;

        .title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-shrink: 1;
            max-width: 70%;
        }

        .date {
            color: #6a6a66;
            font-size: 1rem;
            display: inline-block;
            width: 4.3rem;
            text-align: left;
            padding-left: 5px;
            flex-shrink: 0;
        }

        &:hover {
            color: #ffffff;
        }
    }
}

#home .shows-list {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: baseline;

    .top-bar {
        display: flex;
        align-items: baseline;

        .edit {
            padding-left: .8rem;
            padding-top: 5px;
            padding-bottom: 1px;
            opacity: 0;
            transition: all .14s;
            font-size: 1rem;
        }

        &:hover .edit {
            opacity: 1;
        }
    }

    .show {
        border-top-right-radius:    4px;
        border-bottom-right-radius: 4px;
        transition: background-color .14s, color .14s, border-color .14s;
        color: $c_text;

        .edit {
            position: absolute;
            padding-left: 1rem;
            padding-top: 5px;
            opacity: 0;
            transition: all .14s;
            font-size: 1rem;
        }

        .delete {
            border: none;
            background: none;
            cursor: pointer;
            color: transparent;
            transition: all .14s;
            font-size: 1.4rem;
            height: 100%;
            border-top-right-radius:    4px;
            border-bottom-right-radius: 4px;

            &:hover {
                color: #ff3030 !important;
                background-color: #543344;
            }
        }

        &:hover {
            background-color: #333;

            input {
                border-right-color: #262628;
            }
        }

        &:hover .edit {
            opacity: 1;

        }

        &:hover .delete {
            color: #af4040;
        }

        &:focus-within {
            background-color: #3a3a3a;
            color: #ffffff;
        }
    }


    &:hover > .add-new {
        padding: .5rem 1rem;
        opacity: 1;
    }

    .add-new:focus {
        padding: .5rem 1rem;
        opacity: 1;
    }

    .user-shows {
        display: flex;
        flex-direction: column;
        align-items: baseline;

        &:hover .add-new {
            padding: .5rem 1rem;
            opacity: 1;
        }
    }

    h3 {
        margin-bottom: .3rem;
        color: #8ea091;
        font-size: 1.4rem;
        margin-top: .2rem;
    }

    .add-new,
    input {
        color: inherit;
        font-size: 1.3rem;
        background: none;
        border: none;
        border-left: 2px solid;
        padding: .2rem 1rem;
        transition: color .14s, border-color .14s;
        border-right: 2px solid transparent;
        outline: none;
    }

    .add-new {
        border-color: transparent;
        padding: 0 1rem;
        font-size: 1.15rem;
        transition: all .2s;
        opacity: 0;
        display: block;

        &:hover {
            border-left-color: #838373;
            cursor: text;

            &::placeholder {
                color: #fff;
            }
        }

        &:focus {
            border-left-color: #a3a393;
            cursor: text;
        }

        &::placeholder {
            color: #a3a39a;
            transition: color .14s;
        }
    }
}

#wheel {
    filter: drop-shadow(0 1px 8px rgba(#000, .4));
    transition: filter .2s, opacity .6s;

    &.empty {
        opacity: 0;
    }

    &:hover {
        cursor: pointer;
        filter: drop-shadow(0 1px 11px rgba(#000, .8));
    }
}

#home .wheel-box {
    position: relative;
    max-height: 69vh;
    margin-top: 3rem;

    svg#arrow-down {
        width: 40px;
        height: auto;
        top: 0;
        margin-right: 7px;
    }

    .arrow {
        position: absolute;
        z-index: 10;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        top: -4vh;
    }
}

.show-users-button {
    background: none;
    border: none;
    width: auto;
    padding: 0;
    margin-left: 2rem;
    cursor: pointer;
    fill: #8ea091;

    &:hover {
        fill: #caa05a;
    }

    svg {
        height: 1.4rem;
        margin-bottom: -2px;
    }
}
